# Pythonキャッシュ
__pycache__/
*.py[cod]

# Jupyterノートブックのチェックポイント
.ipynb_checkpoints/

# VSCodeの設定
.vscode/

# 仮想環境
.venv/
env/
venv/

# ログファイル
*.log

# OS固有ファイル（macOSなど）
.DS_Store

# 音楽を入れるファイル
runs/detect/train/weights/*.pt
yolo11x.pt
YOLO_format/

FluidR3_GM*